/* @font-face { */
/*     font-family: 'Iosevka Aile Web'; */
/*     src: url(./fonts/Iosevka-Regular.ttf), format('ttf'); */
/* } */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNr5TRA.woff2') format('woff2');
    font-display: swap;
}

body {
  font-family: 'Noto Sans', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 0.9;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

.header-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Space between the name and the links */
    align-items: center;
}

/* Style for the name on the left */
.header-left {
    font-size: 1.2em;
    font-weight: bold;
}

/* Style for the links on the right */
.header-right ul {
    display: flex;
    gap: 20px; /* Space between the list items */
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-item a {
    text-decoration: none;
    color: #000000; /* Customize the color as desired */
}

header {
    padding: 20px 0;
}

/* PAGE */

.page-container {
    width: 50%;
    margin: 0 auto;
}

p {
    margin: 0;
}
